*{
    /* outline: 2px solid red; */
}

.artworks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    margin: 20px;
}

.artworks .artwork-card{
    max-width: 350px;
    max-height: 350px;
    overflow: hidden;
}

.artwork-card img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}